In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv('https://gist.githubusercontent.com/DiogoRibeiro7/c6590d0cf119e87c39e31c21a9c0f3a8/raw/4a8e3da267a0c1f0d650901d8295a5153bde8b21/PlayTennis.csv')

In [3]:
df

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [4]:
from sklearn.naive_bayes import GaussianNB

In [5]:
nb = GaussianNB()

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x=df.iloc[:,0:4]

In [8]:
x

     Outlook Temperature Humidity    Wind
0      Sunny         Hot     High    Weak
1      Sunny         Hot     High  Strong
2   Overcast         Hot     High    Weak
3       Rain        Mild     High    Weak
4       Rain        Cool   Normal    Weak
5       Rain        Cool   Normal  Strong
6   Overcast        Cool   Normal  Strong
7      Sunny        Mild     High    Weak
8      Sunny        Cool   Normal    Weak
9       Rain        Mild   Normal    Weak
10     Sunny        Mild   Normal  Strong
11  Overcast        Mild     High  Strong
12  Overcast         Hot   Normal    Weak
13      Rain        Mild     High  Strong

In [15]:
y=df.iloc[:,4]
y

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: Play Tennis, dtype: object

In [16]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [17]:
x_train

     Outlook Temperature Humidity    Wind
0      Sunny         Hot     High    Weak
9       Rain        Mild   Normal    Weak
3       Rain        Mild     High    Weak
1      Sunny         Hot     High  Strong
10     Sunny        Mild   Normal  Strong
7      Sunny        Mild     High    Weak
12  Overcast         Hot   Normal    Weak
2   Overcast         Hot     High    Weak
6   Overcast        Cool   Normal  Strong
13      Rain        Mild     High  Strong
8      Sunny        Cool   Normal    Weak

In [19]:
y_train

0      No
9     Yes
3     Yes
1      No
10    Yes
7      No
12    Yes
2     Yes
6     Yes
13     No
8     Yes
Name: Play Tennis, dtype: object

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
encoder=LabelEncoder()

In [29]:
encoder.fit_transform(x_train.iloc[:,1])

array([1, 2, 2, 1, 2, 2, 1, 1, 0, 2, 0])

In [32]:
x_train = x_train.apply(encoder.fit_transform)

In [33]:
x_train

    Outlook  Temperature  Humidity  Wind
0         2            1         0     1
9         1            2         1     1
3         1            2         0     1
1         2            1         0     0
10        2            2         1     0
7         2            2         0     1
12        0            1         1     1
2         0            1         0     1
6         0            0         1     0
13        1            2         0     0
8         2            0         1     1

In [35]:
y_train = encoder.fit_transform(y_train)
y_train

array([0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1])

In [37]:
nb.fit(x_train,y_train)

GaussianNB()

In [41]:
x_test = x_test.apply(encoder.fit_transform)
x_test

    Outlook  Temperature  Humidity  Wind
11        0            1         0     0
4         1            0         1     1
5         1            0         1     0

In [42]:
nb.predict(x_test)

array([0, 1, 1])

In [44]:
encoder.fit_transform(y_test)

array([1, 1, 0])