In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv(r"E:\Datasets\Twitter Sentiment Analysis\twcs.csv")
df

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,1,sprintcare,False,Tue Oct 31 22:10:47 +0000 2017,@115712 I understand. I would like to assist y...,2,3.0
1,2,115712,True,Tue Oct 31 22:11:45 +0000 2017,@sprintcare and how do you propose we do that,NaN,1.0
2,3,115712,True,Tue Oct 31 22:08:27 +0000 2017,@sprintcare I have sent several private messag...,1,4.0
3,4,sprintcare,False,Tue Oct 31 21:54:49 +0000 2017,@115712 Please send us a Private Message so th...,3,5.0
4,5,115712,True,Tue Oct 31 21:49:35 +0000 2017,@sprintcare I did.,4,6.0
...,...,...,...,...,...,...,...
2811769,2987947,sprintcare,False,Wed Nov 22 08:43:51 +0000 2017,"@823869 Hey, we'd be happy to look into this f...",NaN,2987948.0
2811770,2987948,823869,True,Wed Nov 22 08:35:16 +0000 2017,@115714 wtf!? Iâ€™ve been having really shitty s...,2987947,NaN
2811771,2812240,121673,True,Thu Nov 23 04:13:07 +0000 2017,@143549 @sprintcare You have to go to https://...,NaN,2812239.0
2811772,2987949,AldiUK,False,Wed Nov 22 08:31:24 +0000 2017,"@823870 Sounds delicious, Sarah! ðŸ˜‹ https://t.c...",NaN,2987950.0
2811773,2987950,823870,True,Tue Nov 21 22:01:04 +0000 2017,@AldiUK warm sloe gin mince pies with ice cre...,"2987951,2987949",NaN

In [5]:
df.drop(['tweet_id','author_id','created_at','response_tweet_id','in_response_to_tweet_id'],axis=1,inplace=True)

In [6]:
df

         inbound                                               text
0          False  @115712 I understand. I would like to assist y...
1           True      @sprintcare and how do you propose we do that
2           True  @sprintcare I have sent several private messag...
3          False  @115712 Please send us a Private Message so th...
4           True                                 @sprintcare I did.
...          ...                                                ...
2811769    False  @823869 Hey, we'd be happy to look into this f...
2811770     True  @115714 wtf!? Iâ€™ve been having really shitty s...
2811771     True  @143549 @sprintcare You have to go to https://...
2811772    False  @823870 Sounds delicious, Sarah! ðŸ˜‹ https://t.c...
2811773     True  @AldiUK  warm sloe gin mince pies with ice cre...

[2811774 rows x 2 columns]

In [13]:
df['text'].iloc[0]

'@115712 I understand. I would like to assist you. We would need to get you into a private secured link to further assist.'

# Procedure
#### 1. Extract first  10000 rows 
#### 2. Remove any tags or special characters
#### 3. Convert all words in lower case
#### 4. Remove all stop words like and, if, the etc which doesnt have any  influence in bulding the sentiment
#### 5. Stemming means all verb forms of a word like play, played, playing etc

In [14]:
df = df.sample(10000)

In [16]:
df.shape

(10000, 2)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 18564 to 494637
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   inbound  10000 non-null  bool
 1   text     10000 non-null  object
dtypes: bool(1), object(1)
memory usage: 166.0+ KB

In [18]:
df.head()

         inbound                                               text
18564      False  @121219 ...feedback logged with the relevant t...
2238707     True  @147836 It would be great to have "Local Music...
1889867    False  @604917 Since we have not heard back from u ab...
177017     False  @165758 Thanks for providing this and the seas...
573001      True  @273092 @144886 @115873 You, along with Uber i...

In [20]:
df['inbound'] = df['inbound'].astype(int)

In [21]:
df.head()

         inbound                                               text
18564          0  @121219 ...feedback logged with the relevant t...
2238707        1  @147836 It would be great to have "Local Music...
1889867        0  @604917 Since we have not heard back from u ab...
177017         0  @165758 Thanks for providing this and the seas...
573001         1  @273092 @144886 @115873 You, along with Uber i...

In [28]:
df['text'].iloc[0]

"@121219 ...feedback logged with the relevant team for internal review. If you DM your Nectar card number using the below link I'll arrange a...2/3 https://t.co/MdMtnTlX6H"

In [26]:
df['text'].str.replace('\W',' ',regex=True).iloc[0]

' 121219    feedback logged with the relevant team for internal review  If you DM your Nectar card number using the below link I ll arrange a   2 3 https   t co MdMtnTlX6H'

In [27]:
df['text'].str.replace('<.*?>',' ',regex=True).iloc[0]

"@121219 ...feedback logged with the relevant team for internal review. If you DM your Nectar card number using the below link I'll arrange a...2/3 https://t.co/MdMtnTlX6H"

In [32]:
import re
clean = re.compile('<.*?>')
re.sub(clean,'',df.iloc[0].text)

"@121219 ...feedback logged with the relevant team for internal review. If you DM your Nectar card number using the below link I'll arrange a...2/3 https://t.co/MdMtnTlX6H"

In [33]:
df['text'].iloc[0]

"@121219 ...feedback logged with the relevant team for internal review. If you DM your Nectar card number using the below link I'll arrange a...2/3 https://t.co/MdMtnTlX6H"