In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r"E:\Datasets\Social_Network_Ads.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df['Gender'].replace({
    'Male':1,
    'Female':0
},inplace=True)

In [5]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [6]:
X=df.iloc[:,1:4].values

In [9]:
X.shape

(400, 3)

In [10]:
y=df.iloc[:,-1].values

In [12]:
y.shape

(400,)

In [13]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [16]:
X=scaler.fit_transform(X)

In [17]:
X

array([[ 1.02020406, -1.78179743, -1.49004624],
       [ 1.02020406, -0.25358736, -1.46068138],
       [-0.98019606, -1.11320552, -0.78528968],
       ...,
       [-0.98019606,  1.17910958, -1.46068138],
       [ 1.02020406, -0.15807423, -1.07893824],
       [-0.98019606,  1.08359645, -0.99084367]])

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [19]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()

In [20]:
clf.fit(X_train,y_train)

DecisionTreeClassifier()

In [22]:
y_pred=clf.predict(X_test)

In [23]:
from sklearn.metrics import accuracy_score

In [24]:
accuracy_score(y_test,y_pred)

0.85

# GridSearchCV

In [25]:
dict_of_param = {
    'criterion': ['gini' , 'entropy'] , 
    'max_depth':[1,2,3,4,5,6,7,None]
}

Now, here we will pass this ' dict_of_param ' to GridSearchCV, what this is  gonna do is that this will  find the accuraccy for all the possible combination of 'criterion' and 'max_depth'. If there is  one more parameter then this will include that also and find accuracy for all possible combinations. Lets see how,

In [27]:
from sklearn.model_selection import GridSearchCV

In [28]:
grid=GridSearchCV(clf , dict_of_param , cv = 10 , n_jobs=-1)

In [29]:
grid.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [1, 2, 3, 4, 5, 6, 7, None]})

In [30]:
grid.best_score_

0.896875

In [31]:
grid.best_params_

{'criterion': 'gini', 'max_depth': 2}